
  .paragraph {
      /* font-family: Poppins-Regular; */
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  input::placeholder{
    color: #100F58;
  }
  
  /* My styling */
  
  .content{
    min-height: 100vh;
    margin:auto;
  }
  .col-content{
    min-height: 100vh;
  }
  .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    margin: 0px;
  }
  .wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #100F58;
 
  }
  .label-input{
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #100F58;
    line-height: 1.2;
    padding-left: 2px;
  }
  .input {
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    color: #100F58;
  }
  .btn-signup{
  
    background-color: #100F58;
    color: white;
    border-radius: 35px;
    font-size: 100%;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .btn-reg{
  
    background-color: #868788;
    border-radius: 25px;
    color: white;
    font-size: 14px;
  
  }
  .form{
  
    margin-left: 2%;
    margin-top: 50px;
    margin-right: 3%;
  }
  @media (max-width: 576px) {
    .wrap-login {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  img{
    height: 100vh;
    width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
    
  }
  .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  .indicators-index{
    z-index: 100;
  }
  .carousel-text{
    padding: 30px 0;
  }
  .signin-text{
  
    color: #780206;
    font-weight: bold;
  
  }