
.sidebar{
    margin-top: 70px;
    height: max-content;
    width: 100%;
    border-radius: 12px;
    background-color: rgb(250, 250, 250);
}
.trend-heading {

    border-bottom: 1px solid #1A91DA;
    padding: 10px 10px;
}
.trend-heading .tw-icon{

    margin-top: 4px;
    font-size: 22px;
}
.trend-list{

    text-decoration: none;
    color: #1A91DA;
    list-style: none;
    padding: 0px;
}

.trend-list li {

    padding: 10px 0px;
    padding-left: 40px;

}
.trend-list li:hover {

    background: #A6B2BB;
    color: rgb(15, 147, 230);
}
.trend-list li:hover a{

    text-decoration: none;
}
.trend-list li a{

    font-size: 22px;
}